.section {
  min-height: 400px;

  background-color: #705ac6a4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  width: 100%;
  max-width: 1170px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: darkblue;
}

.submit-button {
  background-color: #fca70c;
  width: 220px;
  height: 42px;
  color: #fff;
  font-weight: bold;
  border-color: #fff;
  font-size: 18px;
  font-family: "Times New Roman";
}

.submit-button:focus {
  outline: none;
}

.link {
  margin-top: 20px;
  color: blue;
}

.block {
  margin-top: 20px;
}

li {
  list-style-type: none;
}

#searchCountry {
  margin-bottom: 20px;
  width: 198px;
  height: 22px;
  border: 2px solid violet;
  padding: 10px;
  font-size: 18px;
}

#searchCountry:focus {
  outline: none;
}

iframe {
  width: 300px;
  height: 170px;
}
